<style type="text/css">
html {
	height: 100%;
}

body {
	height: 100%;
	font-family: Arial;
	font-size: 10pt;
	margin-top: .5in;
	margin-left: .5in;
	margin-right: .5in;
	margin-bottom: .5in;
}

h1 {
	text-align: left;
	font-family: Arial;
	font-size: 14pt;
}

h2 {
	text-align: left;
	font-family: Arial;
	font-size: 12pt;
}

h3, h4, h5, h6 {
	text-align: left;
	font-family: Arial;
	font-size: 11pt;
}


table {
	border: solid 1pt black;
	border-collapse: collapse;
	empty-cells: show;
}


td {
	padding: 5pt;
	border: solid 1pt black;
	border-collapse: collapse;
	font-family: Arial;
	font-size: 10pt;
	vertical-align: top;
	text-align: left;
	font-weight: normal;
}

div .project .body {
	margin: 0;
}

div .body {
	margin-top: .25in;
	margin-left: .25in;
	margin-right: .25in;
	margin-bottom: .25in;
}

.stakeholders table {
	margin-top: .25in;
	margin-left: .25in;
	margin-right: .25in;
	margin-bottom: .25in;
}

th {
	padding: 4pt;
	border: solid 1pt black;
	border-collapse: collapse;
	font-family: Arial;
	font-size: 10pt;
	vertical-align: bottom;
	text-align: left;
	font-weight: bold;
}

.question {
	color: red;
}

.note {
	color: blue;
}

.p {
	padding-bottom: 10pt;
}
</style>